@tailwind base;
@tailwind components;
@tailwind utilities;

.card_hover_animation {
    
    background: linear-gradient(to bottom, #ed1c24 50%, #fff 50%);
    background-size: 100% 200%;
    background-position: bottom left;
    transition: all .5s ease-out;
  }
  
  .card_hover_animation:hover {
    border: 2px solid limegreen;
    background-position: top left;
    color: #fff;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}